{% extends "layouts/base.njk" %}

{% block title %}Overbeck{% endblock %}

{% block content %}
<div class="home">
  <h1>Charles Overbeck</h1>
  <img src="/images/homepageme.jpg" alt="Charles Overbeck">
  <p>This is very much in progress.</p>
</div>
{% endblock %}
