<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.overbeck.backup.overbeck-db</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-s</string>
        <string>/bin/bash</string>
        <string>/Users/charlesoverbeck/bin/backup-overbeck-db.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>6</integer>
        <key>Minute</key>
        <integer>3</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/charlesoverbeck/Library/Logs/backup-overbeck-db.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/charlesoverbeck/Library/Logs/backup-overbeck-db.err.log</string>
</dict>
</plist>
